<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.dynamicfilesearch</string>
	<key>connections</key>
	<dict>
		<key>1596F8A7-4C8D-49CD-AEF6-7878058730FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D687541-1BF3-4EB8-A531-9B0952C66A8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42D54E89-9343-448E-8E65-2F90EA1949BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1596F8A7-4C8D-49CD-AEF6-7878058730FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>4D687541-1BF3-4EB8-A531-9B0952C66A8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AD8EFE2-7958-42CA-BA8D-52F9C5305F8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8D2AF92C-305C-44F2-9D01-EEE3E9C69007</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reveal file in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vero Pepperrell</string>
	<key>description</key>
	<string>Choose a folder, then search for files within it</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dynamic File Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>5AD8EFE2-7958-42CA-BA8D-52F9C5305F8C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>within {var:folder}</string>
				<key>title</key>
				<string>Search for files</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>4D687541-1BF3-4EB8-A531-9B0952C66A8E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>In which folder would you like to search?</string>
				<key>title</key>
				<string>Find files in specific folder</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>42D54E89-9343-448E-8E65-2F90EA1949BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "config" : {
      "scopes" : [
        "{query}"
      ]
    },
    "variables" : {
      "folder": "{query}"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>1596F8A7-4C8D-49CD-AEF6-7878058730FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>8D2AF92C-305C-44F2-9D01-EEE3E9C69007</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Dynamic File Search

Choose a folder, then search for files within it.

![Dynamic File Search](/images/dynamic-file-search.png)

## Usage

Using your keyword *(default "ff")*, first search for the folder you want to use as search scope. 

Then search for the name of a file contained within that folder. Press Return to open the file, or Alt + Return to reveal it in Finder.</string>
	<key>uidata</key>
	<dict>
		<key>1596F8A7-4C8D-49CD-AEF6-7878058730FA</key>
		<dict>
			<key>note</key>
			<string>2. The JSON utility sets the folder dynamically as a config setting for the next File Filter.</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>42D54E89-9343-448E-8E65-2F90EA1949BB</key>
		<dict>
			<key>note</key>
			<string>1. This File Filter is set to present folders only, so type your keyword followed by the name of your folder to set the scope for your next search.</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>4D687541-1BF3-4EB8-A531-9B0952C66A8E</key>
		<dict>
			<key>note</key>
			<string>3. Type the name of the file you want to search for within the folder defined earlier.</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>5AD8EFE2-7958-42CA-BA8D-52F9C5305F8C</key>
		<dict>
			<key>note</key>
			<string>4. Pressing the Return key opens the file you selected.</string>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>8D2AF92C-305C-44F2-9D01-EEE3E9C69007</key>
		<dict>
			<key>note</key>
			<string>5. Hold the Alt key when pressing Return to reveal the file in Finder instead.</string>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ff</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Use this keyword to launch the workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2022.1</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
